* {
  padding: 0;
  margin: 0;
  width: 100dvw;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100dvw;
}

#wrapper {
  background-position: center;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Lexend", sans-serif;

  &.cold {
    background-image: url("./../images/cold.jpg");
  }
  &.too-cold {
    background-image: url("./../images/too-cold.jpg");
  }

  &.warm {
    background-image: url("./../images/warm.jpg");

    * > #buttons {
      #increase {
        border-start-end-radius: 16px;
        border-end-end-radius: 16px;
        background: rgba(12, 90, 225, 0.447);
        box-shadow: 0 4px 30px rgba(88, 113, 241, 0.173);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(47, 111, 221, 0.53);
      }
    }
  }
  &.too-warm {
    background-image: url("./../images/too-warm.jpg");
  }
}

#main {
  height: 80%;
  border-radius: 120px;
  color: white;
  background: rgba(0, 0, 0, 0.023);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.079);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: 1px solid rgba(0, 0, 0, 0.225);
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 60% !important;
}

#temp {
  font-size: 88px;
  max-width: max-content;
  font-weight: 900;
  margin-bottom: 52px;
}

#bg-blur {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.2;
  left: 0;
  top: 0;
}

* + .cold {
  #bg-blur {
    opacity: 0.4 !important;
  }
}

#buttons {
  display: flex;
  width: 50%;

  & > * {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Lexend";
    font-size: 18px;
    cursor: pointer;
    transition: all ease 300ms;

    &:hover {
      opacity: 0.85;
    }
  }
}

#increase {
  border-start-end-radius: 16px;
  border-end-end-radius: 16px;
  background: rgba(60, 124, 234, 0.486);
  box-shadow: 0 4px 30px rgba(88, 113, 241, 0.173);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(47, 111, 221, 0.53);
}

#decrease {
  border-start-start-radius: 16px;
  border-end-start-radius: 16px;
  background: rgba(255, 0, 0, 0.66);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 0, 0, 0.53);
}

.cold-video {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}
